<footer class="footer">
    <div class="button-group">
        <a class="button size-s type-void muted"
            href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&source=mailto&to=jinsu.kim1011@gmail.com">
            Email
        </a>
        <a class="button size-s type-void muted" href="https://www.linkedin.com/in/jinsu-kim-293b43bb/">
            LinkedIn
        </a>
    </div>
    <small>
        &copy;2025 Jinsu Kim
    </small>
</footer>