:root {
    --base-margin: 176px;
    --unit: 36px;
}

.nav {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-xxxl);
}

.nav>h1 {
    margin-top: var(--spacing-xxxl);
}

.nav .menu {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxs);
}

/* menu item */
.menu>a {
    height: fit-content;
    text-decoration: none;
    border: none;
    cursor: pointer;

    font-family: var(--font-display);
    font-size: var(--font-size-lg);
    line-height: var(--line-height-tight);
    letter-spacing: var(--letter-spacing-normal);

    color: var(--color-text-hover);
}

/* current menu */
.nav a.active {
    color: var(--color-text-strong);
}

@media (min-width: 640px) {
    .nav {
        grid-template-columns: 1fr 1fr;
        height: 304px;
    }

    .nav>h1 {
        margin-top: var(--base-margin);
        grid-column: 1;
    }

    .nav .menu {
        margin-top: var(--base-margin);
        grid-column: 2;
    }

    body.blog-page .nav .menu {
        margin-top: calc(var(--base-margin) - var(--unit));
    }

    body.work-page .nav .menu {
        margin-top: calc(var(--base-margin) - var(--unit)*2);
    }

    body.admin-page .nav .menu {
        margin-top: calc(var(--base-margin) - var(--unit)*3);
    }
}

@media (min-width: 1024px) {
    .nav {
        grid-template-columns: 1fr 1fr 1fr;
        height: 304px;
    }

    .nav>h1 {
        margin-top: var(--base-margin);
        grid-column: 1 / span 2;
    }

    .nav .menu {
        margin-top: var(--base-margin);
        grid-column: 3;
    }

    body.blog-page .nav .menu {
        margin-top: calc(var(--base-margin) - var(--unit));
    }

    body.work-page .nav .menu {
        margin-top: calc(var(--base-margin) - var(--unit)*2);
    }

    body.admin-page .nav .menu {
        margin-top: calc(var(--base-margin) - var(--unit)*3);
    }
}