.home-page-main {
    margin: var(--spacing-xxxl) 0 var(--spacing-xxxxl);
}

.profile-section {
    margin: var(--spacing-xxxl) 0;
}

.profile-section-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-xl);

    order: 2;
}

.text-wrapper {
    max-width: 512px;
}

.text-wrapper>.text {
    margin: 0;

    font-family: var(--font-display);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-medium);
    letter-spacing: var(--letter-spacing-wide);
}

.profile-section-img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-l);

    order: 1;
}

.profile-section-img>img {
    width: 100%;
    height: auto;
}

.profile-section-img>.button-group {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-xxs);
}

.blog-section,
.work-section {
    margin-bottom: var(--spacing-xxxl);
}

.info-section::before,
.blog-section::before,
.work-section::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: var(--color-background-strong);
    margin-bottom: var(--spacing-xxxl);
}

.blog-list,
.work-list,
.experience-list {
    list-style: none;
    margin: var(--spacing-l) 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-xxl) var(--spacing-xxxl);
}

.blog-list__item>.blog-list__item-summary {
    margin: var(--spacing-xxxs) 0 0;
    color: var(--color-text-default);
    max-width: 512px;
}

.work-list__item>.work-list__item-summary {
    margin: var(--spacing-xxxs) 0 0;
    color: var(--color-text-default);
    max-width: 512px;
}

.experience-list__item>.experience-list__item-desc {
    margin: var(--spacing-xxxs) 0 0;
    color: var(--color-text-default);
    max-width: 512px;
}

.experience-list__item[data-hidden="true"] {
    display: none;
}

@media (min-width: 640px) {

    .blog-list,
    .work-list {
        grid-template-columns: 1fr;
        gap: var(--spacing-xxl) var(--spacing-xxxl);
    }

    .profile-section-img>img {
        max-width: 253px;
        width: 100%;
        height: auto;
    }

    .profile-section-text {
        order: 1;
    }

    .profile-section-img {
        order: 2;
    }
}

@media (min-width: 1024px) {
    .post-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 var(--spacing-xxxl);
    }

    .blog-list {
        grid-template-columns: 1fr;
    }

    .work-list {
        grid-template-columns: 1fr;
    }

    .blog-section {
        grid-column: 1;
    }

    .work-section {
        grid-column: 2;
    }

    .profile-section-img>img {
        max-width: 253px;
        width: 100%;
        height: auto;
    }

    .profile-section-text {
        order: 1;
    }

    .profile-section-img {
        order: 2;
    }
}


.admin-page-list {
    margin: var(--spacing-xxxl) 0 calc(var(--spacing-xxxl)*2);
}