.blog-list__item-date {
    color: var(--color-text-muted);
}

.blog-page-list {
    margin: var(--spacing-xxxl) 0 calc(var(--spacing-xxxl)*2);
}

.work-section-admin {
    margin: var(--spacing-xxxl) 0 calc(var(--spacing-xxxl)*2);
}

.blog-list__item {
    gap: var(--spacing-xxs);
}

@media (min-width: 1024px) {
    .blog-page-list>.blog-list {

        grid-template-columns: 1fr;
    }

    .blog-section-admin>.blog-list {
        grid-template-columns: 1fr;
    }

    .blog-list__item {
        gap: var(--spacing-xxxl);
    }
}

@media (min-width: 640px) {
    .blog-list__item {
        gap: var(--spacing-xxxl);
    }
}