@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/assets/fonts/Inter-SemiBold.woff2") format("woff2");
}

/* Inter Display (SemiBold + Bold) */
@font-face {
    font-family: "Inter Display";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/assets/fonts/InterDisplay-SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: "Inter Display";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/assets/fonts/InterDisplay-Bold.woff2") format("woff2");
}