@import url("./fonts.css");
@import url("./design-tokens/tokens.css");
@import url("./utilities/utilities.css");


.nav a.active {
    color: blue;
}

html,
body {
    margin: 0;
    padding: 0;
    background: var(--color-background-primary);
    color: var(--color-text-strong);
    font-family: var(--font-sans);
    line-height: var(--line-normal);
}