<!doctype html>
<html lang="en">

<%- include('../partials/head') %>

    <body class=" blog-page">
        <%- include('../partials/navigation') %>

            <main class="blog-page-list">
                <ul class="blog-list">
                    <li class="blog-list__item items-responsive">
                        <div class="blog-list__item items-responsive__primary">
                            <a class="blog-list__item-link button size-m type-void" href="">
                                One Ticket, End to End
                            </a>
                            <p class="blog-list__item-summary">
                                Testing my build–ship–learn cycle on a small scale — and
                                sharpening how I work.
                            </p>
                        </div>
                        <div class="blog-list__item-date items-responsive__secondary">
                            <small>Jul 2025</small>
                        </div>
                    </li>
                </ul>
            </main>


            <%- include('../partials/footer') %>
    </body>

</html>