<!doctype html>
<html lang="en">

<%- include('../partials/head', { title: 'Password — Jinsu Kim' }) %>

    <body class=" password-page">
        <form id="pw-form" method="post" action="/password">
            <label for="pw">Password</label>
            <input id="pw" name="password" type="password" placeholder="Enter Password" />
            <button type="submit" class="button size-m type-fill bold">Enter</button>
        </form>
        <p id="error">
            <%= typeof error !=='undefined' ? error : '' %>
        </p>
    </body>

</html>