<!doctype html>
<html lang="en">

<%- include('../partials/head') %>

    <body class=" post-page">

        <main class="work-page-list">

        </main>

        <%- include('../partials/footer') %>
    </body>


</html>