<!doctype html>
<html lang="en">

<%- include('../partials/head') %>

    <body class=" work-page">
        <%- include('../partials/navigation') %>

            <main class="work-page-list">
                <ul class="work-list">
                    <li class="work-list__item items-responsive">
                        <div class="work-list__item items-responsive__primary">
                            <a class="work-list__item-link button size-m type-void" href="">
                                Onboarding for Faster Value
                            </a>
                            <p class="work-list__item-summary">
                                Faster time-to-value through onboarding, resulting in 6x paid conversion growth.
                            </p>
                        </div>
                        </div>
                        <div class="work-list__item-date items-responsive__secondary">
                            <small>October 2021</small>
                        </div>
                    </li>
                </ul>
            </main>

            <%- include('../partials/footer') %>
    </body>


</html>